:root {
    --brown-900: #381A13;
    --brown-800: #420D10;
    --brown-700: #52281C;
    --brown-600: #541314;
    --brown-500: #753D28;
    --brown-400: #A35639;
    --brown-300: #B5755C;
    --white: #ffffff;
    --black: #1b1b1b;
    --gray-dark: #333333;
    --gray: #B8B5B561;
    --gray-light: #ECECEC;
}

/* @import '../public/old_assets/css/style.css';
@import '../public/old_assets/css/bootstrap.min.css';
@import '../public/old_assets/css/responsiveslides/responsiveslides.css';
@import '../public/old_assets/css/responsiveslides/demo.css';
@import './components/CategoriesList.css';
@import './components/Footer.css';
@import './components/Navbar.module.css';
@import './components/Categorias.module.css';
@import './Home.module.css';
@import './fonts/fonts.css'; */

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Barlow';
}

body {
    font-family: "poppins-regular";
}

img {
    max-width: 100%;
}

.category-item__img-container {
    height: 270px;
}

.category-item__img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-item {
    background-color: var(--brown-700);
    max-width: 190px;
}

.category-item__name {
    color: white;
    font-size: 1.1rem;
    font-family: "Barlow-Bold";
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

a, a:link {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    text-decoration: none;
    color: var(--black);
    opacity: .8;
}

button {
    border: none;
    letter-spacing: 2px;
}

.m-top {
    margin-top: 63px !important;
}